In [1]:
# Import packages
import pandas as pd

- Read sales_data_2019.csv dataset menggunakan pandas

In [4]:
salesDataframe = pd.read_csv('data/sales_data_2019.csv')

- Hilangkan kolom `Order ID` dari data sales tersebut
- Atur ulang urutan dari kolom tersebut menjadi berikut:
    - `Order Date`
    - `Product`
    - `Quantity Ordered`
    - `Price Each`
    - `Purchase Address`

In [5]:
salesColumns = [
    'Order Date',
    'Product',
    'Quantity Ordered',
    'Price Each',
    'Purchase Address'
]
salesDataframe = salesDataframe[salesColumns]

- Lakukan proses slicing data dimulai dari index `150` sampai dengan `4213`

In [10]:
slicedSalesDataFrame = salesDataframe[150:4213]
slicedSalesDataFrame

- Lalu, lakukan proses filtering data sesuai dengan ketentuan berikut:
    - Jumlah dari barang yang di order lebih dari `2` atau
    - Harga dari masing - masing barang adalah lebih dari sama dengan `125`

In [11]:
filteredSalesDataframe = (
    slicedSalesDataFrame[
        (slicedSalesDataFrame['Quantity Ordered'] > 2) |
        (slicedSalesDataFrame['Price Each'] >= 125)
    ]
)
filteredSalesDataframe

,Order Date,Product,Quantity Ordered,Price Each,Purchase Address
151,12/11/19 19:45,34in Ultrawide Monitor,1.0,379.99,"838 Ridge St, San Francisco, CA 94016"
153,12/20/19 02:31,Apple Airpods Headphones,1.0,150.00,"705 4th St, Los Angeles, CA 90001"
158,12/28/19 12:33,27in FHD Monitor,1.0,149.99,"602 Ridge St, San Francisco, CA 94016"
163,12/24/19 08:29,AA Batteries (4-pack),3.0,3.84,"987 Cherry St, Los Angeles, CA 90001"
172,12/04/19 13:53,Google Phone,1.0,600.00,"307 Wilson St, San Francisco, CA 94016"
...,...,...,...,...,...
4193,12/21/19 10:26,AA Batteries (4-pack),3.0,3.84,"844 4th St, New York City, NY 10001"
4198,12/20/19 11:27,27in FHD Monitor,1.0,149.99,"117 Highland St, San Francisco, CA 94016"
4204,12/31/19 20:49,Vareebadd Phone,1.0,400.00,"327 Hickory St, San Francisco, CA 94016"
4207,12/29/19 19:37,Macbook Pro Laptop,1.0,1700.00,"38 Sunset St, San Francisco, CA 94016"
4212,12/10/19 10:04,Flatscreen TV,1.0,300.00,"278 Jackson St, New York City, NY 10001"

- Export data menjadi bentuk file csv dengan nama `new_sales_data.csv`
- Lalu, ketika export data jangan simpan index dari data sebelumnya

In [13]:
filteredSalesDataframe.to_csv('data/new_sales_data_2019.csv', index = False)