In [1]:
# Import packages
import pandas as pd

Read sales_data_2019.csv dataset menggunakan pandas

In [4]:
salesDataframe = pd.read_csv('data/sales_data_2019.csv')

- Hilangkan kolom `Order ID` dari data sales tersebut
- Atur ulang urutan dari kolom tersebut menjadi berikut:
    - `Order Date`
    - `Product`
    - `Quantity Ordered`
    - `Price Each`
    - `Purchase Address`

In [5]:
salesColumns = [
    'Order Date',
    'Product',
    'Quantity Ordered',
    'Price Each',
    'Purchase Address'
]
salesDataframe = salesDataframe[salesColumns]

- Lakukan proses slicing data dimulai dari index `150` sampai dengan `4213`

In [6]:
salesDataframe[150:4213]

,Order Date,Product,Quantity Ordered,Price Each,Purchase Address
150,12/19/19 12:57,Lightning Charging Cable,1.0,14.95,"943 Johnson St, San Francisco, CA 94016"
151,12/11/19 19:45,34in Ultrawide Monitor,1.0,379.99,"838 Ridge St, San Francisco, CA 94016"
152,12/24/19 10:39,Lightning Charging Cable,1.0,14.95,"513 Maple St, Los Angeles, CA 90001"
153,12/20/19 02:31,Apple Airpods Headphones,1.0,150.00,"705 4th St, Los Angeles, CA 90001"
154,12/06/19 14:55,Wired Headphones,1.0,11.99,"528 Willow St, New York City, NY 10001"
...,...,...,...,...,...
4209,12/05/19 19:50,USB-C Charging Cable,1.0,11.95,"467 Spruce St, New York City, NY 10001"
4210,12/16/19 13:07,AA Batteries (4-pack),1.0,3.84,"90 Dogwood St, Atlanta, GA 30301"
4211,12/29/19 07:13,AAA Batteries (4-pack),1.0,2.99,"103 Maple St, Atlanta, GA 30301"
4212,12/10/19 10:04,Flatscreen TV,1.0,300.00,"278 Jackson St, New York City, NY 10001"
4213,12/18/19 11:11,USB-C Charging Cable,1.0,11.95,"527 12th St, Los Angeles, CA 90001"